id ICON "hr-icon.ico"

1 VERSIONINFO
FILEVERSION     8,3,0,10
PRODUCTVERSION  8,3,0,10
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Zeno Rogue"
      VALUE "FileDescription", "A roguelike in non-euclidean space"
      VALUE "FileVersion", "83"
      VALUE "InternalName", "hyper"
      VALUE "LegalCopyright", "Zeno Rogue"
      VALUE "OriginalFilename", "hyper.exe"
      VALUE "ProductName", "HyperRogue"
      VALUE "ProductVersion", "8.3j"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
